* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.left-section {
  width: calc(70% - 10px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-element {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.add-guest-button {
  background-color: #4cb9e7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* .add-guest-button:hover {
  background-color: #0091ea;
} */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  color: #333;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-button {
  padding: 8px 12px;
  background-color: #4cb9e7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0091ea;
}

.right-section {
  width: calc(30% - 10px);
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.booking-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #333;
  font-size: 1rem;
}

.divider {
  border-top: 1px solid #eee;
  margin: 10px 0;
}

.total {
  font-weight: bold;
  color: #0044cc;
}

.paid {
  color: green;
}

.pending {
  color: red;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}

.back-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.back-button:hover {
  background-color: #d32f2f;
}

.proceed-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proceed-button:hover {
  background-color: #0056b3;
}

.guest-detail-header {
  display: flex;
  flex-direction: row-reverse;
}
